<section class="welcome-area">
  <div class="single-welcome-slide">
     <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
     <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(assets/img/bg-img/test1.jpg);"></div>
     <div class="container h-100">
        <div class="row h-100 align-items-center">
           <div class="col-12">
              <div class="welcome-text">
                 <h2 data-animation="bounceInUp" data-delay="400ms"><img style="width: 206Px;margin-left: 21px;" src="assets/img/bg-img/rabrab.png" alt="">
                 </h2>
                 <h5 data-animation="bounceInUp" style="margin-top: -58px;" data-delay="600ms">MODASTIR 2013</h5>
              </div>
           </div>
        </div>
     </div>
     <div class="social-info">
        <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
     </div>
  </div>
  <style>
     .owl-nav {
     display: none !important;
     }
  </style>
</section>