<div class="breadcumb-area">
    <div class="container h-100">
       <div class="row h-100 align-items-end">
          <div class="col-12">
             <div class="breadcumb--con">
                <h2 class="title">Shop</h2>
               
             </div>
          </div>
       </div>
    </div>
 </div>
 <section class="mona-model-area model-page section-padding-80-0 mb-30">
    <div class="container" style="padding-bottom: 28px;">
       <div class="row">
          <div class="col-12">
             <div class="model-tab-area">
                <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                   <li class="nav-item">
                      <a class="nav-link " id="tab1" data-toggle="tab" href="#tab-0" role="tab" aria-controls="tab-1" aria-selected="false">All</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link active" id="tab2" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-2" aria-selected="true">Creation</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-3" aria-selected="false">Men</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Women</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Kids</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Accessories</a>
                    </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="mona-tab-content">
       <div class="container-fluid">
          <div class="row">
             <div class="col-12">
                <div class="tab-content" id="mona_modelTabContent">
                   <div class="tab-pane fade " id="tab-0" role="tabpanel" aria-labelledby="tab1">
                       <div class="row flex-wrap">
                           <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/IMG-4819.JPG" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/IMG-4819.JPG" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Willie Figueroa</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/12.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/11.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Della Martinez</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/15.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/14.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Peter Alvarez</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/26.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/28.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Olive Ross</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/28.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/15.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Louise Ray</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/IMG-4819.JPG" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/IMG-4819.JPG" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Willie Figueroa</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/11.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/12.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Della Martinez</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/12.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/13.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Peter Alvarez</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/13.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/14.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                           
                                           
                                           
                                           
                                        </div>
                                     </div>
                                  </div>
                                  <div class="model-info">
                                     <h3>Olive Ross</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                               <div class="single-model-item mb-50">
                                  <div class="model-thumbnail">
                                     <img class="first-thumbnail" src="assets/img/bg-img/14.jpg" alt="">
                                     <img class="second-thumbnail" src="assets/img/bg-img/15.jpg" alt="">
                                     <div class="share-info">
                                        <div class="share-icon">
                                           <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="others-icon">
                                           <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        </div>
                                        
                                     </div>
                                     
                                  </div>
                                  <div class="model-info">
                                     <h3>Louise Ray</h3>
                                     <h6>Model</h6>
                                  </div>
                               </div>
                            </div>
                       </div>
                    </div>
                   <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                      <div class="row flex-wrap">
                       <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                           <div class="single-model-item mb-50">
                              <div class="model-thumbnail">
                                 <img class="first-thumbnail" src="assets/img/bg-img/IMG-4841.JPG" alt="">
                                 <img class="second-thumbnail" src="assets/img/bg-img/IMG-4841.JPG" alt="">
                                 <div class="share-info">
                                    <div class="share-icon">
                                       <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="others-icon">
                                       <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                       
                                    </div>
                                 </div>
                              </div>
                              <div class="model-info">
                                 <h3>Salah Barka</h3>
                                 <h6>Stylist</h6>
                              </div>
                           </div>
                        </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4836.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4837.JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Msirina</h3>
                                  <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4838.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4839.JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                   <h3>Langer</h3>
                                   <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4840.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4836 (1).JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                   <h3>El rett</h3>
                                   <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4846.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4845.JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                   <h3>Chagra ahmed</h3>
                                   <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4852.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4849.JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                   <h3>Sariaa</h3>
                                   <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                         
                       
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4823.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4822.JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                   <h3>Astradol</h3>
                                   <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                         
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/IMG-4839.JPG" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/IMG-4834.JPG" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                   <h3>Massoud</h3>
                                   <h6>haute couture</h6>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                      <div class="row">
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/tshirtrabrab.jpg" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/tshirtrabrab.jpg" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Willie Figueroa</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>
                        
                      </div>
                   </div>
                   <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                      <div class="row">
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/10.jpg" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/9.jpg" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Willie Figueroa</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/11.jpg" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/12.jpg" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Della Martinez</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/12.jpg" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/13.jpg" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Peter Alvarez</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/13.jpg" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/14.jpg" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Olive Ross</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/14.jpg" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/15.jpg" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.html" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                        
                                        
                                        
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Louise Ray</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4">
                      <div class="row">
                         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                            <div class="single-model-item mb-50">
                               <div class="model-thumbnail">
                                  <img class="first-thumbnail" src="assets/img/bg-img/panier.png" alt="">
                                  <img class="second-thumbnail" src="assets/img/bg-img/panier.png" alt="">
                                  <div class="share-info">
                                     <div class="share-icon">
                                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                     </div>
                                     <div class="others-icon">
                                        <a href="description.htmlmDesign-Natural-Hyacinth-Storage-Organizer/dp/B07CH18NQ5/ref=pd_sbs_3?pd_rd_w=uwghK&pf_rd_p=ed1e2146-ecfe-435e-b3b5-d79fa072fd58&pf_rd_r=2YWFS34CBGPF9C12ZHMB&pd_rd_r=997c84e1-ca87-4213-9c70-8bd0b5f0f9a8&pd_rd_wg=TzFuY&pd_rd_i=B07CH18NQ5&psc=1" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                     </div>
                                  </div>
                               </div>
                               <div class="model-info">
                                  <h3>Willie Figueroa</h3>
                                  <h6>Model</h6>
                               </div>
                            </div>
                         </div>

                         
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>