<header class="header-area">
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <nav class="classy-navbar justify-content-between" id="monaNav">
        <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
        <a class="nav-brand" [routerLink]="['/']"><img style="width: 92Px;" src="assets/img/bg-img/rabrablogotrade.png"
            alt=""></a>
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>
        <div class="classy-menu">
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>
          <div class="classynav">
            <ul id="nav">
              <li *ngFor="let item of menu" [ngClass]="{'current-item': item.isActive, 'li-item': !item.isActive }" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="[item.link]" (click)="changeSnap(item)">{{item.name}}</a></li>
            </ul>
            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
              <i class="icon_search"></i>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="top-search-area">
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           <div class="modal-body">
              <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
              <form action="https://preview.colorlib.com/theme/mona/index.html" method="post">
                 <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                 <button type="submit">Search</button>
              </form>
           </div>
        </div>
     </div>
  </div>
</div>