<section class="welcome-area">
       <div class="single-welcome-slide">
          <div class="bg-curve" style="background-image: url(assets/img/core-img/curveortfolio.png);"></div>
          <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms"
             style="background-image: url(assets/img/bg-img/IMG-4844.JPG);"></div>
          <div class="container h-100">
             <div class="row h-100 align-items-center">
                <div class="col-12">
                   <div class="welcome-text">
                      <h2 data-animation="bounceInUp" data-delay="400ms"><img style="width: 206Px;margin-left: 21px;"
                            src="assets/img/bg-img/rabrab.png" alt="">
                      </h2>
                      <h5 data-animation="bounceInUp" style="margin-top: -58px;" data-delay="600ms">IN ART WE TRUST
                      </h5>
                      <p style="font-weight: bold;">Rabeb Thaalbi, néé en 18 sepmtembre 1991,
                         styliste modéliste<br> possédant une connaissance approfondie en vente consultative
                         et démarchage,<br> associée à des compétences en
                         interactions professionnelles<br> et communicatifs.</p>

                   </div>
                </div>
             </div>
          </div>

       </div>
       <style>
          .owl-nav {
             display: none !important;
          }
       </style>
 </section>
 <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
       <div class="cd-timeline-img cd-picture">
       </div>

       <div class="cd-timeline-content">
          <h2>2013</h2>
          <div class="timeline-content-info">
             <h2>Licence appliquée en Design stylisme-modélisme</h2>
             <span class="timeline-content-info-title">
                
                Institute supérieures des Métiers de la Mode
             </span>
          </div>
       </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
       <div class="cd-timeline-img cd-movie">
       </div> <!-- cd-timeline-img -->

       <div class="cd-timeline-content">
          <h2>2014</h2>
          <div class="timeline-content-info">
             <h2>Master 1 Management du Textile et de la Mode</h2>
             <span class="timeline-content-info-title">
                
                Institute supérieures des Métiers de la Mode
             </span>
          </div>
       </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
       <div class="cd-timeline-img cd-picture">
       </div>

       <div class="cd-timeline-content">
          <h2>2015</h2>
          <div class="timeline-content-info">
             <h2>Modéliste</h2>
             <span class="timeline-content-info-title" style="font-weight: bold;">
                United colors of benetton
             </span>
             
          </div>
          <img style="width: 92Px;float: right;" src="assets/img/bg-img/benetton.jpg" alt="">
       </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
       <div class="cd-timeline-img cd-movie">
       </div> <!-- cd-timeline-img -->

       <div class="cd-timeline-content">
          <h2>2017</h2>
          <div class="timeline-content-info">
             <h2>Styliste modéliste</h2>
          </div>
          <br>
          <img style="width: 92Px;" src="assets/img/bg-img/zara2.png" alt=""><br><br>
          <span class="timeline-content-info-title" style="font-weight: bold;">
             Rome, Italie 
          </span>
          <br>
          
       </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
       <div class="cd-timeline-img cd-picture">
       </div>

       <div class="cd-timeline-content">
          <h2>2020</h2>
          <div class="timeline-content-info">
             <h2>Agent de maitrise</h2>
             <img style="width: 92Px;float: right;" src="assets/img/bg-img/zara2.png" alt=""><br><br>
             <span class="timeline-content-info-title" style="font-weight: bold;float: right;">
                Champs-Elysées - Paris, France
             </span>
             
          </div>
          
       </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

 </section> <!-- cd-timeline -->