<div class="breadcumb-area">
    <div class="container h-100">
       <div class="row h-100 align-items-end">
          <div class="col-12">
             <div class="breadcumb--con">
                <h2 class="title">About us</h2>

             </div>
          </div>
       </div>
    </div>
 </div>
 <section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
       
       <div class="row">
         
          <div class="col-12 col-sm-6 col-lg-4">
             <div class="about-us-thumbnail mb-50">
                <span class="line"></span>
                <img src="assets/img/bg-img/rabrablogotrade.png" alt="">
                <span class="line2"></span>
             </div>
          </div>


          <div class="col-12 col-lg-8">
             <div class="about-us-content mb-50">
                
                <p><img style="width: 206Px;margin-left: 21px;"
                   src="assets/img/bg-img/rabrab.png" alt=""> est la principale marque de vêtements de mode pour enfant et pour adultes. Au commencement, un atelier de création ouvert en 2020 à Paris par Rabeb Thaalbi, 
                   se spécialise dans la création de vêtements de mode pour enfant et pour adultes. <br>
                   Il ouvre sa première boutique en ligne en Février 2021</p>
             </div>
          </div>
       </div>
    </div>
 </section>