<diV class="login-page" style="background-image: url(assets/img/bg-img/test1.jpg);background-size: cover; background-position-x: unset; background-position: bottom;">
    <div class="login-box">
        <div class="login-logo">
            <a class="nav-brand" ><img style="width: 168px;" src="assets/img/bg-img/rabrablogotrade.png"
                alt=""></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg" style="font-weight: bold;">In art we trust.</p>
          
            <form  method="post">
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
               
                <!-- /.col -->
                <div class="col-4">
                  <button  (click)="moveTo()"  style="background-color: #2d2d2d;" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <p class="mb-1">
              <a style="color: #2d2d2d;;" href="forgot-password.html">I forgot my password</a>
            </p>
      
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
</diV>
